@font-face {
    font-family: Neon;
    src: url(fonts/NEON____.woff)format('truetype');
}


@font-face {
    font-family: Rajdhani;
    src: url(fonts/Rajdhani.ttf)format('truetype');
}
*{
    src: url();
    margin: 0;
    padding: 0;
}

body{
    background: rgb(11, 11, 11);
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

header{
    text-align: center;
    padding: 25px 0 40px;
    text-shadow: 3px -3px 80px rgb(32, 210, 207);
    -webkit-text-stroke:0.1px rgb(10, 251, 219);
    color: rgba(0, 0, 0,0.5);
    font-family: Neon,sans-serif;
    font-size: 30px;
}

footer{
    color: white;
    border: solid azure;
    padding: 5px;
}
nav>ul>li>a{
    text-decoration: none;
    text-align: center;
    color: pink;
    padding: 12px 0 0 15px;
    font-size: 18px;
}

li{
    padding: 6px;
}
audio{
    padding-left: 40%;
    
}

/****************************/
.main{
    text-align: center;
    padding: 30px 80px;
    display: block;
}
.main p{
    text-align: left;
    font-weight: lighter;
    padding: 15px;
    /*background:linear-gradient(rgb(0, 123, 153),rgb(146, 0, 224) 80%);*/
    margin: 40px auto;
    border-radius: 0px;
    color: aquamarine;
    width: auto;
    font-size: 18px;
    border: solid aqua;
}

.main img{
    margin: 0 auto;
    width: auto;
    height: 500px;
    box-shadow: 1px 2px 20 blueviolet;
}
.main h2{
    text-align: left;
    padding: 5px;
    color: #ffa0d9b3;
    font-weight: lighter;
    border: solid pink;
    width: 220px;
    font-family: Rajdhani, sans-serif;
    font-weight: bold;
}


.sub{
    padding: 0 80px 0 30px;
}


.dif{
    background: linear-gradient(rgb(57, 0, 28),rgb(0, 50, 74));
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
    color: rgb(27, 0, 67);
    
}


.title2{
    color: rgb(97, 0, 37);
}


.main2 p{
    font-weight: lighter;
    padding: 15px;
    /*background:linear-gradient(rgb(0, 123, 153),rgb(146, 0, 224) 80%);*/
    background-color: rgb(43, 0, 53);
    margin: 40px auto;
    border-radius: 15px;
    color: rgb(199, 255, 109);
    width: 350px;
    box-shadow: 3px 5px 20px rgb(217, 255, 129), 3px -7px 12px rgb(124, 255, 146) ;
    
}
.main2{
    text-align: center;
    padding: 30px;
}
.main2 img{
    margin: 0 auto;
    width: auto;
    height: 500px;
    box-shadow: 3px 5px 20px violet, 3px -7px 12px aquamarine ;
    
}

.minim{
    padding: 0 0 15px;
}
.minim img{
    max-width: 100%;
    width: auto;
    height: 500px;
    margin: 0 75px;
}

.minim p{
    color: rgb(0, 254, 199);
    text-align: center;
    padding: 0 20px 35px 0px;
    margin: 10px 500px;
    font-weight: normal;
    text-shadow: 4px 1px 18px rgb(235, 190, 255);
}
.main3{
    text-align: center;
    padding: 15px;
}
.main3 img{
    margin: 0 auto;
    width: auto;
    height: 500px;
    box-shadow: 3px 5px 20px violet, 3px -7px 12px aquamarine ;
}
.main3 p{
    font-weight: lighter;
    padding: 15px;
    /*background:linear-gradient(rgb(0, 123, 153),rgb(146, 0, 224) 80%);*/
    background-color: rgb(43, 0, 53);
    margin: 40px auto;
    border-radius: 15px;
    color: rgb(199, 255, 109);
    width: 350px;
    box-shadow: 3px 5px 20px rgb(217, 255, 129), 3px -7px 12px rgb(124, 255, 146) ;
    
}

.mainalt{
    font-weight: lighter;
    padding: 15px;
    /*background:linear-gradient(rgb(0, 123, 153),rgb(146, 0, 224) 80%);*/
    background-color: rgb(43, 0, 53);
    margin: 40px auto;
    border-radius: 15px;
    color: rgb(199, 255, 109);
    width: 185px;
    box-shadow: 3px 5px 20px rgb(217, 255, 129), 3px -7px 12px rgb(124, 255, 146) ;
}



